
<div id="contactAdministratorModal" class="modal fade"  role="dialog" aria-labelledby="contactAdministratorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="contactAdministratorModalLabel"><i class="fa fa-envelope"></i> [[[Contact Administrator]]]</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                             Para poder publicar su negocio llame por favor al numero:
                            <h4>1561944555</h4>                           
                            <a class="btn navbar-btn btn-default hidden-sm hidden-xs navbar-left " href="@Url.Action("Contact", "Home")">o escribanos haciendo click aca</a>
                        </div>                      

                        
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>